*.css linguist-vendored=true
*.md linguist-vendored=true
*.yml linguist-vendored=true
*.yaml linguist-vendored=true
*.json linguist-vendored=true
*.lock linguist-vendored=true
*.log linguist-vendored=true
*.sh linguist-vendored=true
*.db linguist-vendored=true
*.sql linguist-vendored=true
*.ico linguist-vendored=true
*.svg linguist-vendored=true
*.png linguist-vendored=true
*.js linguist-vendored=true
*.mjs linguist-vendored=true
*.webmanifest linguist-vendored=true
*.example linguist-vendored=true
*.gitignore linguist-vendored=true
Dockerfile linguist-vendored=true
